<article id="intro">
    <h1 class="">Tech</h2>
        <div>
            <div class="gallery">
                <div class="thumb">
                    <a href="images/fulls/hackfrost_2023.jpg" class="image"><img src="images/fulls/hackfrost_2023.jpg"
                            alt="" /></a>
                    <h2>HackFrost 3.0 Hackathon - 1st Place Winner</h2>
                    <p>HackFrost 3.0 was a hackathon targetted at tackling emissions from industrial transportation. Our
                        team, Viridis,
                        designed a DIY kit for retrofitting long-haul trucks with solar-powered Auxilliary Power Units
                        (APUs) - a solution
                        that is near-immediately deployable, scalable and with the potential to annually offset 1.5x
                        NYC's annual emissions
                        every year if deployed across North America. Over 150 people participated at the event.
                    </p>
                </div>
                <div class="thumb">
                    <a href="images/fulls/mysa_group_photo.jpg" class="image"><img
                            src="images/fulls/mysa_group_photo.jpg" alt="" /></a>
                    <h2>Mysa's Group Photo - 2019</h2>
                    <p>Mysa's group photo in 2019 (with me ecstatically pointing at the Mysa logo 😂)</p>
                </div>
                <div class="thumb">
                    <a href="images/fulls/google_codeu.jpg" class="image"><img src="images/fulls/google_codeu.jpg"
                            alt="" /></a>
                    <h2>Googleplex - Google CodeU Retreat (2018)</h2>
                    <p>Google CodeU is a 12 week invitation-only virtual program, composed of 150 high potential
                        undergraduates
                        pursuing Computer Science in North America. At the end of the program we were hosted over for a
                        3-day retreat
                        at Google's Headquarters in Mountain View :)</p>
                </div>
                <div class="thumb">
                    <a href="images/fulls/bounce_2023.jpg" class="image"><img src="images/fulls/bounce_2023.jpg"
                            alt="" /></a>
                    <h2>Bounce Hackathon - 2023</h2>
                    <p>The 2023 Bounce Hackathon was targetted at addressing employment retention issues in the health
                        sector
                        within NL. As part of this Hackathon, I developed a rough simulation of the impact of employee
                        churnout
                        on the workload of remaining team members, and how the current rate of churnout relative to
                        employment
                        was resulting in an ongoing cycle of churnout due to workload instability.
                    </p>
                </div>
                <div class="thumb">
                    <a href="images/fulls/startup_weekend_2018.jpg" class="image"><img
                            src="images/fulls/startup_weekend_2018.jpg" alt="" /></a>
                    <h2>Startup Weekend 2017 - 1st Place Winner</h2>
                    <p>At Startup Weekend 2017 our team designed a solution for extending internet connectivity out at
                        sea through a network
                        of buoys acting as cell towers, allowing oil rigs to stay on top of the latest updates for
                        iceberg locations and take
                        preventitive action.
                    </p>
                </div>
                <div class="thumb">
                    <a href="images/fulls/ndev_2022.jpeg" class="image"><img src="images/fulls/ndev_2022.jpeg"
                            alt="" /></a>
                    <h2>Newfoundland Developers (NDev) Talk - September 2022</h2>
                    <p>At this talk I presented some of the theory behind Microserviced architectures, and common
                        misconceptions
                        in practice within the industry on how and when they should be implemented.
                    </p>
                </div>
            </div>
            <div>
                <h2 class="major">Experience</h2>
                <div id="resume">
                    {{#each tech.experience.entries }}
                    <div class="scroll-entry-animate resume-entry">
                        <div class="logo-container">
                            <img src="images/logos/{{this.logo}}" class="{{this.logoClass}}">
                        </div>
                        <div class="resume-info">
                            <h3 class="resume-org">{{this.orgName}}</h3>
                            <h4>{{this.title}} - {{this.location}}</h4>
                            <h4>{{this.timeSpan}}</h4>
                            <div class="resume-skills">
                                {{#each this.skills}}
                                    <div class="button">{{this}}</div>
                                {{/each}}
                            </div>
                            <ul>
                                {{#each this.details}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <h2 class="major">Certifications &amp; Publications</h2>
                <div id="cnp">
                    <div class="scroll-entry-animate c-entry">
                        <div class="logo-container">
                            <a href="https://www.credly.com/badges/0231c60e-7d27-4e51-80ee-b79355029be7/public_url" target="_blank"><img src="images/aws-saa.png"></a>
                        </div>
                        <div class="c-info">
                            <h3>AWS Solutions Architect - Associate</h3>
                            <h4>Awarded May 2021</h4>
                            <p>Earners of this certification have a comprehensive understanding of AWS services and technologies. They demonstrated the ability to build secure and robust solutions using architectural design principles based on customer requirements. Badge owners are able to strategically design well-architected distributed systems that are scalable, resilient, efficient, and fault-tolerant.</p>
                        </div>
                    </div>
                    <div class="scroll-entry-animate p-entry">
                        <div class="logo-container">
                            <a href="https://link.springer.com/chapter/10.1007/978-3-031-20837-9_6" target="_blank"><img src="images/cibb.webp"></a>
                        </div>
                        <div class="c-info">
                            <h3>Improving Bacterial sRNA Identification By Combining Genomic Context and Sequence-Derived Features</h3>
                            <h4>Computational Intelligence Methods for Bioinformatics and Biostatistics (CIBB) - 2021</h4>
                            <h4>Mohammad Sorkhian, Megha Nagari, Moustafa Elsisy &amp; Lourdes Peña-Castillo</h4>
                            Bacterial small non-coding RNAs (sRNAs) are ubiquitous regulatory RNAs involved in controlling several cellular processes by targeting multiple mRNAs. The large diversity of sRNAs in terms of their length, sequence, and function poses a challenge for computational sRNA prediction. In this paper, we combine ensemble learning over genomic context features with sequence-derived features to invent a model with demonstrably higher predictive performance according to measurements of AUPRC against current state of the art models.
                        </div>
                    </div>
                </div>
            </div>

        </div>
</article>